@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
*/
/* body {
    font-family: 'Open Sans', sans-serif;
} */

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.slideup {
    animation: slide-up .6s cubic-bezier(0.4, 0, 0.2, 1) 500ms backwards;
    width: 100vw;
    height: 100vh;
}

.slidedown {
    animation: slide-down .6s cubic-bezier(0.4, 0, 0.2, 1) 500ms backwards;
    width: 100vw;
    height: 100vh;
}


@keyframes hide-scroll {

    from,
    to {
        overflow: hidden;
    }
}

html,
body {
    max-width: 100%;
    overflow: hidden;
    animation: hide-scroll 3s;
    /* time should be more than highest animation length */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-1deg);
    }

    20% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(1deg);
    }

    40% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    60% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(1deg);
    }

    80% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.svgIcon {
    animation: shake 4s linear infinite;
}


.swiper-button-next, .swiper-button-prev, .swiper-button-disabled {
    color: #FF8551 !important;
}

:root {
    --contexify-menu-bgColor: rgba(40, 40, 40, .98) !important;
    --contexify-separator-color: #726e6e !important;
    --contexify-item-color: #fff !important;
    --contexify-activeItem-color: #fff !important;
    --contexify-activeItem-bgColor: #3a3e41 !important;
    --contexify-rightSlot-color: #6f6e77 !important;
    --contexify-activeRightSlot-color: #fff !important;
    --contexify-arrow-color: #6f6e77 !important;
    --contexify-activeArrow-color: #fff !important;
}